#body_portafolio{
    background-color: black;
    #main_portafolio{
    height: 80vh;
        display: grid;
        align-items: center;
        .column_grid_portafolio {
            display: grid;    
            grid-template-columns: repeat(auto-fit, minmax(min(100%,50rem),1fr));
            gap: 4rem;            
            align-items: center;            
            grid-auto-rows: 50vh;
          }    
    }
}

.card {
    border: 2px solid #5ec6ea;
    border-radius: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s linear;
    
    &:hover{
        border:2px solid #89317c;
        transition: all 0.3s linear;
    }
  }
