#body-skills{
    background-color: black;
}

.column-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,50rem),1fr));
    gap: 4rem;
    grid-auto-rows: 80vh;
  }

  .card {
    border: 2px solid white;
  }
  .skills{
    display: flex;
    padding-top: 4rem;
    padding-left: 1rem;

    h3{
        padding-left: 1rem;
    }
  }