@use 'variable' as v;

html,
body {

  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: v.$fuentePrincipal;
  height: 100%;
  background-color: black;
  width: 100%;
}


header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: end;
  position: fixed;
  z-index: 100;

  i:not(:last-child) {
    margin-right: 2rem;
  }

}



*,
*:before,
*:after {
  box-sizing: inherit;
}

p,
i {
  font-size: 2rem;
  color: white;
}

a {
  text-decoration: none;
  font-weight: v.$liviana;
  color: white !important;
  font-size: 1.6rem !important;
}

footer {
  background-color: black;
  height: 100vh;
  width: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  border-right: 1px solid pink;

  nav {
    transform: rotate(180deg);
    display: flex;
    flex-direction: column-reverse;

    ul {
      height: 65%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      list-style: none;
      writing-mode: vertical-lr;

      img {
        transform: rotate(90deg);
        height: 40px;
        width: 100%;
      }

    }
  }

}

span {
  color: v.$fSecond;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: v.$liviana;
  color: white;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  font-weight: v.$bold;
  color: v.$fSecond;
}

h3 {
  font-size: 1.8rem;
  font-weight: v.$media;

}

@media (max-width: 475px) {
  ul {
    flex-direction: column;
  }

  ul li:not(:last-child) {
    margin-right: 0;
  }
}

.contenedor {
  max-width: 220rem;
  width: 95%;
  margin: 0 auto;
}